﻿body{
    font-family:Arial;
}
table{
    border-collapse: collapse;
    font-family:Arial;
}

td{
    border: 1px solid black;
    padding: 5px;
}

th{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    cursor:pointer;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;

}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block;
}