﻿<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/An.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!--<script src="Scripts/angular.min.js"></script>-->
    <link href="Style.css" rel="stylesheet" />
    <meta charset="utf-8"/>
    <title></title>
</head>
<body ng-controller="myController">

    <div>
        <input type="text" placeholder="Serach Employee" ng-model="sortEmp" />
        <!--<input type="text" placeholder="Serach Last Name" ng-model="sortEmp.lastName" />
        <input type="checkbox" ng-model="exactMatch" /> Exact Match-->
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Salary
                    </th>
                   </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employe in employee | filter: sortEmp">
                    <td>{{employe.firstName}}</td>
                    <td>{{employe.lastName}}</td>
                    <td>{{employe.dateofBirth | date: "dd/MM/yyyy"}}</td>
                    <td>{{employe.Gender}}</td>
                    <td>{{employe.Salaray}}</td>
                 </tr>
            </tbody>
        </table>
    </div>




    <!--<div>
        <table>
            <thead>
                <tr>
                    <th ng-click="sortData('firstName')">
                        First Name<div ng-class="getSortClass('firstName')"></div>
                    </th>
                    <th ng-click="sortData('lastName')">
                        Last Name <div ng-class="getSortClass('lastName')"></div>
                    </th>
                    <th ng-click="sortData('dateofBirth')">
                        Date Of Birth <div ng-class="getSortClass('dateofBirth')"></div>
                    </th>
                    <th ng-click="sortData('Gender')">
                        Gender <div ng-class="getSortClass('Gender')"></div>
                    </th>
                    <th ng-click="sortData('Salaray')">
                        Salary(number) <div ng-class="getSortClass('Salaray')"></div>
                    </th>
                    <th ng-click="sortData('Salaray')">
                        Salary(currency) <div ng-class="getSortClass('Salaray')"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employe in employee | orderBy: sortColumn:reverseSort">
                    <td>{{employe.firstName}}</td>
                    <td>{{employe.lastName}}</td>
                    <td>{{employe.dateofBirth | date: "dd/MM/yyyy"}}</td>
                    <td>{{employe.Gender}}</td>
                    <td>{{employe.Salaray}}</td>
                    <td>{{employe.Salaray | currency:"$"}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <!--<div>
        Order By : <select ng-model="sortColumn">
                       <option value="firstName">Name in Asc</option>
                       <option value="lastName">Last Name in Asc</option>
                       <option value="dateofBirth">Date of Birth</option>
                       <option value="Gender">Gender</option>
                       <option value="Salaray">Lowest Salary</option>
                       <option value="-Salaray">Highest Salary</option> 

        </select>
        <table>
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Salary(number)
                    </th>
                    <th>
                        Salary(currency)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employe in employee | orderBy: sortColumn">
                    <td>{{employe.firstName}}</td>
                    <td>{{employe.lastName}}</td>
                    <td>{{employe.dateofBirth | date: "dd/MM/yyyy"}}</td>
                    <td>{{employe.Gender}}</td>
                    <td>{{employe.Salaray}}</td>
                    <td>{{employe.Salaray | currency:"$"}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->



    <!--<div>
        Rows to Display : <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>
        <table>
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Salary(number)
                    </th>
                    <th>
                        Salary(currency)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employe in employee | limitTo: rowLimit">
                   <td>{{employe.firstName | lowercase}}</td> 
                    <td>{{employe.lastName}}</td>
                    <td>{{employe.dateofBirth | date: "dd/MM/yyyy"}}</td>
                    <td>{{employe.Gender | uppercase}}</td>
                    <td>{{employe.Salaray | number:2}}</td>
                    <td>{{employe.Salaray | currency:"$":1}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
    
    
    
    
    
    
    
    
    
    <!--<div>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Like
                    </th>
                    <th>
                        Dislike
                    </th>
                    <th>
                        Like/Dislikes
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="technology in technologies">
                <tr>
                    <td>
                        {{technology.name}}
                    </td>
                    <td>
                        {{technology.Likes}}
                    </td>
                    <td>
                        {{technology.Dislikes}}
                    </td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)" />
                        <input type="button" value="DisLike" ng-click="incrementDisLikes(technology)" />
                    </td>
                </tr>

            </tbody>
        </table>


    </div>-->







    <!--<div ng-controller="myController">
        <ul>
            <li ng-repeat="country in countries">
                {{country.name}} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{city.name}} - Parent Index = {{$parent.$index}}, Index = {{$index}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>-->
  
    <!--<table>
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Salary
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employe in employee">
                <td>
                    {{employe.firstName}}
                </td>
                <td>
                    {{employe.lastName}}
                </td>
                <td>
                    {{employe.Salaray}}
                </td>
                <td>
                    {{employe.Gender}}
                </td>
            </tr>
        </tbody>
    </table>-->


    <!--<div ng-controller="myController">
        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    <input type="text" ng-model="employee.firstname" />
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    <input type="text" ng-model="employee.lastname" />
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    <input type="text" ng-model="employee.gender" />
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    {{employee.firstname}}
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    {{employee.lastname}}
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    {{employee.gender}}
                </td>
            </tr>
        </table>-->


        <!--<input type="text" ng-model="greeting" />
        
        </br></br>
        -->
        <!--<div>
            Name: {{country.name}}
        </div>
        <div>
            Capital: {{country.capital}}
        </div>

        <div>
            <img ng-src="{{country.flag}}" 
                 alt="{{country.name + 'Flag'}}"
                 style="height:100px; width:200px" />
        </div>-->  
</body>
</html>